/* vordere Ebene */
html,
body {
    height: 100%;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #FFFFFF;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 4px 4px;
}

/* hintere Ebene */
#background-video {
    background-image:
    ;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#background-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}