
@font-face {
    font-family: "Work";
    src: url("../font/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Iner";
    src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Work";

}

h1, h2, h3, h4, h5, h6{
    font-family: "Iner";
    font-weight: 800;
}

img{
    object-fit: cover;
    overflow: hidden;
    max-width: 70svw;
    height: auto;
}

/* ********************************************* */
/* ____________Background Color____________ */

header, footer, .bg_black{
    background-color: black;
    color: white;
    padding: 5%;
}

.bg_white{
    min-height: 40svh;
    padding-left: 5%;

}

.bg_gray{
    background-color: #cccccc;
    padding: 5%;
    z-index: 35;
    height: 175vh;

}

/* ********************************************* */
/* ____________text styles____________ */

h1{
    font-size: 3rem;
    line-height: 80%;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h5{
    font-size: 5rem;
    color: black;
}

.outline{
    -webkit-text-stroke: 2px white;
    color: black;
}

b{
    font-size: 2rem;
    font-weight: 700;
}

p{
    font-family: "Work";

}

small{
    font-size: 12px;
}
/* ********************************************* */
/* ____________header____________ */
.header_line{
    width: 48svw;
    height: 10svh;
    border-right: 1px solid gray;
}

.header_title{
    text-align: center;
    width: 40svw;
    margin: 0 auto;
    padding: 15vh 0;
}

.header_title p{
    padding: 10px;
}

.bear_button{
    display: flex;
    margin: 0 5vw;
    justify-content: space-between;
    align-items: center;
}

.bear_button img{
    height: 40px;
}

button{
    background-color: black;
    border: 1px solid white;
    padding: 10px 15px;
    margin: 30px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

/* article div{
    max-width: 60svw;
} */

section:nth-of-type(1) img{
    width: 25svw;
    height: 18svh;
}
/* ********************************************* */
/* ____________first section____________ */

article:first-of-type{
    background-image: url("../img/map.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat ;
    background-position: bottom right;
}

h2:first-of-type{
    width: 70svw;
}

article:first-of-type div{
    width: 40svw;
    padding: 10svh 0;

}

/* ____________ Grid _______________ */

.grid_chaos{
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: repeat(18, 5.55%);
}


.img-one{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row: 0 1;
    margin-top: -30px;
}

.img-two{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-left: 15px;

}

.textblock{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.img-three{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 9;
    margin-left: 25px;

}

.img-four{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
}

.img-five{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 13;
}

.img-six{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 16;

}

.grid_chaos p{
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 14;
    grid-row-end: 16;
    margin-left: -15px;

}

.img-seven{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 17;
    grid-row-end: 19;
    z-index: -20;
}
/* ____________ golden Bear _______________ */
.CartoonBear{
    position: relative; 
    top: 70vh; 
    left: 2%;
    width: 750px;
    height: 750px;

}

.Magnets{
    position: relative; 
    top: 10vh; 
    left: 60%;
    height: 360px;
    width: auto;
    z-index: 15;

}


/* ____________ poppy bear _______________ */
.poppyBear{
    position: relative; 
    top: -40vh; 
    left: 23%;
    width: 750px;
    height: 750px;
}

.AlyssaShirt{
    position: relative; 
    top: 60vh; 
    left: 2%;
    height: 360px;
    width: auto;
    z-index: 15;

}

/* ____________ Footer _______________ */

footer{
    overflow: hidden;
}

footer div:first-of-type{
    width: 40svw;
}

.sm_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 150px;
}

.footer_text{
    font-size: 2rem;
    margin-top: 50px;
}

.sozial_media{
    display: inline;
}

.sozial_media img{
    width: auto;
    height: 20px;
}

.partners img{
    width: 120px;
    height: auto;
}
.partners{
    margin-top: 10vh;
    margin-left: 60vw;
}

.white_line{
    background-color: white;
    height: 100px;
    width: 170%;
    transform: rotate(45deg);
    margin-top: -320px;
    margin-left: 70px;
}

.outline_2019{
    -webkit-text-stroke: 3px black;
    color: white;
}

/* ____________ Animation _______________ */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  .animate_rotate{
    width: 30svw;
    height: auto;
    position: absolute;
    animation: rotate 10s linear infinite normal;
    z-index: -30;
    margin-left: 70%;
    margin-top: -130px;

  }
  
  @keyframes balken {
    from {
        transform: translateX(0%)
    }
    to{
        transform: translateX(75%)
    } 
  }

  .animate_balken{
    animation: balken 10s linear infinite alternate;
  }