@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Playfair";
    src: url("./font/PlayfairDisplay-VariableFont_wght.ttf");
}

body{
    background-color: #EDF0E2;
}

section{ 
    position: relative;
    width: 30%;
    left: 10%;
    top: 20vh;
}

h1{
    font-family: Playfair;
    font-size: 3rem;
}

p{
    font-family: Poppins;
    margin-bottom: 50px;
}

button{
    background-color: #FFAA36;
    padding: 15px 30px;
    border: 2px solid #767676;
    border-radius: 10px;
    font-family: Poppins;
}

img{
    position: fixed;
    left: 50%;
    top: 10%
}