@use 'sass:meta';
@use '../base/_mixins.scss';
@use '../base/_variables.scss';

header{
  img{
    margin: 20px 45%;
  }
  
  nav{
    align-items: center;
    color: #957554;
    padding: 50px;
    

    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      a{
        text-decoration: none;
        padding-left: 50px;
        font-size: 1.2rem;
        color: #957554;

        p{
          font-size: 2.5rem;
        }
      }
    }
  }
}